{{> header}}

<div class="container">
    <h1 class="my-4">Carrito de Compras</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre del Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each cart.products}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.quantity}}</td>
                <td>{{this.price}}</td>
                <td>{{multiply this.quantity this.price}}</td>
                <td>
                    <button class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="my-4">
        <a href="/checkout" class="btn btn-primary">Proceder al Pago</a>
    </div>
</div>

{{> footer}}
