{{> header}}

<div class="container">
    <h1 class="my-4">Confirmación de Compra</h1>
    <p>Gracias por tu compra. Aquí está el resumen de tu pedido:</p>
    <ul>
        <li>Dirección: {{address}}</li>
        <li>Número de Tarjeta: {{card}}</li>
        <li>Total: {{total}}</li>
    </ul>
</div>

{{> footer}}
