<header>
    <h1>MagusbyLili</h1>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/realtimeproducts">Productos en tiempo real</a></li>
        </ul>
    </nav>
</header>
